/**
 * Breakpoints
 */
$phone: 320px;
$phablet: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;
$desktop-wide: 1600px;

/**
 * Colors
 */
$bg: #fff;
$fg: #23282d;
$border: #eee;
$bgWidget: #fafafa;
$primary: #06F;
$bgNavigation: #fff;
$fgNavigation: #23282d;
$bgHeader: #fff;
$fgHeader: #23282d;
$bgFooter: #fff;
$fgFooter: #23282d;
$bgMedia: #eee;
