/* Footer */
.footer {
  background: $bgFooter;
  color: $fg;

  /* sidebar */
  &__sidebar {
    padding: 4rem 0;
    .container:before {
      content:'';
      position: absolute;
      top: -4rem;
      left: 1rem;
      right: 1rem;
      height: 1px;
      background: $border;
    }
    aside {
      padding: 0;
      background: none;
      border-top: none;
      @include breakpoint($tablet){
        @include gallery(4 of 12);
        margin: 0;
      }
    }
  }

  /* bottom */
  &__bottom {
    @extend .typo-aside;
    padding: 2rem 0;
    .container:before {
      content:'';
      position: absolute;
      top: -2rem;
      left: 1rem;
      right: 1rem;
      height: 1px;
      background: $border;
    }
    .footer__copy,
    .footer__navigation {
      @include breakpoint($tablet){
        @include gallery(6 of 12);
      }
    }
    .menu__item {
      display: inline-block;
      margin-right: 1rem;
      a {
        color: $fg;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}